p {
    color: rgb(0, 2, 104);
    font-size: 1.2rem;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7rem;
    color: rgb(224, 224, 224)
}

img {
    width: 240px;
}

body {
    background-color: rgb(6, 152, 219);
}